.pantalla1{
    display: flex;
    flex-direction: column;
    background-image: url(../img/market.jpg);
    background-position: center;
    height: 100%;
    width: 100%;
}
.luchadores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body{
    font-family: 'Press Start 2P', cursive;
    background-color: gray;
    color: white;
    padding: 0;
}

.luchador{
    border: solid 0.5em rgb(62, 189, 194);
    height: 15em;
    width: 11em;
}
.foto{
    width: 100%;
    height: 100%;
}

#mensaje{
    width: 100%;
    height: 18em;
    font-size: 2em;
    margin-top: 3em;
    justify-content: center;
    text-align: center; 
    -webkit-text-stroke: 3px black;
}

.elegido{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    height: 15em;
    width: 11em;
}


.duelo{
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#jugador1{
    border: solid 0.5em rgb(235, 214, 29);
    height: 18em;
    width: 13em;
}

#jugador2{
    border: solid 0.5em orange;
    height: 18em;
    width: 13em;
} 
.estiloContricante1 {
    height: 18em;
    width: 13em;
}

.estiloContrincante2{
    height: 18em;
    width: 13em;
}

.pantalla2{
    margin-top: 3em;
    width: 100%;
    height: 50em;
    background-image: url(../img/cocina.png);
    background-position: center;
    display: flex;
    flex-direction: column;
}
 .botonPegar{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    text-align: center; 
} 

.pantalla0{
    width: 100%;
    height: 56em;
    background-image: url(../img/iniciofoto.png);
    background-repeat: repeat-x;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : auto;
}

.titulo{
    font-size: 5em;
    color: rgb(21, 155, 43);
    text-align: center;
    -webkit-text-stroke: 4px black;
}

.titulo p{
    color: rgba(199, 18, 18, 0.986);
}

.buttonstart{
    background-color: rgb(21, 155, 43);
    border: 2px solid black;
    height: 2.5em;
    margin-top: 1em;
}
.mensajeduelo{
    width: 25em;
    height: 1.1em;
    font-size: 2em;
    color: aqua;
    background-color: white;
    margin-top: 1em;
    text-align: center; 
    position: relative;
    margin-left: 16em;
    -webkit-text-stroke: 2px black;
  
   
}

.mensajebatalla{
    width: 15em;
    align-self: center;
    background-color: white;
    height: 2.5em;
    font-size: 1.5em;
    color: rgb(0, 38, 255);
    margin-top: 3em;
    justify-content: space-around;
    justify-items: center;
    text-align: center; 
    -webkit-text-stroke: 2px black;
    position: relative;
    margin-left: 30em;
}